<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>

    <span class="element"
          [ngClass]="{ current: (current.currentElement | async)?.element_slug === node.slug }"
          [mdePopoverTriggerFor]="appPopover"
          mdePopoverTriggerOn="hover"
          [mdePopoverEnterDelay]="0"
          [mdePopoverLeaveDelay]="0"
          (mouseleave)="leave()"
          (mouseenter)="hover(node)"
          (click)="click(node)">
      <app-element-class-icon [class]="node.class"></app-element-class-icon>
      &nbsp;<span class="accent-text">{{ node.controller }}</span>
      &nbsp;<span>{{ node.slug }}</span>
    </span>


  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.slug">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>

    <span class="element"
          [ngClass]="{ current: (current.currentElement | async)?.element_slug === node.slug }"
          [mdePopoverTriggerFor]="appPopover"
          mdePopoverTriggerOn="hover"
          [mdePopoverEnterDelay]="0"
          [mdePopoverLeaveDelay]="0"
          (mouseleave)="leave()"
          (mouseenter)="hover(node)"
          (click)="click(node)">
      <app-element-class-icon [class]="node.class"></app-element-class-icon>
      &nbsp;<span class="accent-text">{{ node.controller }}</span>
      &nbsp;<span>{{node.slug}}</span>
    </span>

  </mat-tree-node>
</mat-tree>

<mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card style="max-width: 400px">
    <mat-card-content>
      <div><b>{{selectedElement?.element_slug}}</b></div>
      <div style="font-size: 90%; font-style: italic; margin-bottom: 5px;">{{selectedElement?._cls}}</div>
      <div><span>{{selectedElement?.text}}</span></div>
    </mat-card-content>
  </mat-card>
</mde-popover>
