<mat-card>

  <div class="container">

    <mat-form-field>
      <input matInput placeholder="Api URL" [(ngModel)]="apiUrl" (ngModelChange)="paramChanged()">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="App name" [(ngModel)]="appName" (ngModelChange)="paramChanged()">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Header x-moesif-application-id" [(ngModel)]="xMoesifApplicationId" (ngModelChange)="paramChanged()">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Token" [(ngModel)]="token" (ngModelChange)="paramChanged()">
    </mat-form-field>

  </div>

  <div class="buttons-container">
    <button mat-raised-button color="primary" [disabled]="loading.isLoading | async" (click)="browseApp()">Browse app</button>
  </div>

</mat-card>


<mat-card>
  <mat-progress-bar mode="indeterminate" *ngIf="loading.isLoading | async; else treeBox"></mat-progress-bar>
  <ng-template #treeBox>
    <app-elements-tree [element]="element" *ngIf="element; else emptyBox"></app-elements-tree>
    <ng-template #emptyBox>
      Empty here, please fill the inputs and click "Browse app"
    </ng-template>
  </ng-template>
</mat-card>

<router-outlet></router-outlet>
